.features {
  background-color: $color-grey-light-2;
  grid-column: center-start / center-end;

  display: grid;
  // grid-template-rows: auto auto;  -- this is default behavior, so no need to specify
  grid-template-columns: repeat(3, 1fr);

  .feature {
  }
}
